.usa-swiper .swiper {
  width: 100%;
  height: 100%;
  max-width: 520px;
  height: 100%;
  width: 100%;
  min-width: 280px;
  min-height: 731px;
  overflow: hidden;
}
.usa-swiper .swiper-wrapper {
  max-width: 320px;
  height: 100%;
  width: 100%;
  min-width: 280px;
  min-height: 731px;
}
.usa-swiper .swiper {
  margin-left: auto;
  margin-right: auto;
}
.usa-swiper .swiper-slide {
  text-align: center;
  font-size: 18px;

  max-width: 520px;
  height: 100%;
  width: 100%;
  min-width: 280px;
  min-height: 731px;
}
